body {
  background-color: #0d1116;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f0f6fc;
  background-color: #151b23;
  width: 100%;
  margin-bottom: 50px;
}
.wrapper {
  box-sizing: border-box;
  font-size: 24px;
  border: 1px solid #444c55;
  border-radius: 10px;
  width: 400px;
  margin: 20px auto;
  padding: 15px;
  box-shadow: 0px 4px 10px rgba(0, 191, 255, 0.3),
    0px 10px 20px rgba(0, 191, 255, 0.2),
    inset 0px 2px 5px rgba(255, 255, 255, 0.1);
  color: #0d47a1;
}

ul li {
  text-align: left;
  color: white;
  list-style: none;
  padding: 5px;
}
